* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  header {
    padding: 12px 24px;
    border-bottom: 1px solid #ededed;
    display: flex;
    align-items: center;
    gap: 32px;
    /* Horizontal */
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  header img {
    display: block;
  }

  header .search-container{
    display: flex;
    align-items: center;
    gap: 16px;
    /* property anak dari display flex parent yaitu header */
    /* flex 1 untuk */
    flex: 1; 
  }

header .icons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-container a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.search-div{
    display: flex;
    flex: 1;
    position: relative;
}
.search-icon{
    /* untuk meng overlap suatu dimensi */
    position: absolute;
    left: 12px;
    top: 6px;
    /* padding-left: 12px;
    padding-top: 6px; */
}
.search{
    border-radius: 12px;
    border: 1px solid#ededed;
    /* atas bawah 8 pixel , kiri kanan 16 pixel */
    padding: 8px 16px;
    padding-left: 42px;
    flex: 1;
}

main{
    max-width: 1200px;
    margin: 32px auto;
}

main h1{
    margin-bottom: 24px;
}

/* cara grid */
/* .product-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
} */

.product-list{
    display: flex;
    gap: 24px;
    /* kosen flexwrap itu sama seperti word wrap pada vscode */
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    /* offset x,y, blur, warna */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
    min-width: 250px;
    max-width: 300px;
    overflow: hidden;
}

.product .product-image-cover img{
    width: 300px;
    height: 300px;
    /* kalo obj fit nya cover itu ngezoom gada space kosong */
    /* sedangkan contain ada space kosong */
    object-fit: cover;
    filter: blur(10px); 
    position: absolute;
}
.product .product-image-contain img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: relative;
}

.product-detail{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px 20px;
}

.product-info{
    display: flex;
    align-items: center;
}

.product-rating{
    display: flex;
    align-items: center;
    gap: 4px;
    border-right: 1px solid gray;
    /* garis ijo padding */
    padding-right: 6px;
    /* merah margin (ditengah tengah*/
    margin-right: 6px;
}